In [1]:
#!pip install mysql-connector-python

In [2]:
import mysql.connector as connector

In [3]:
connection = connector.connect(user='root', password = 'Wachtwoord321', db = 'mydb')

In [4]:
cursor = connection.cursor()

In [5]:
show_tables_query = """SHOW tables"""
cursor.execute(show_tables_query)

In [8]:
results = cursor.fetchall()
print(results)

[('bookings',), ('customers',), ('delivery',), ('menu',), ('menuitems',), ('orders',), ('ordersview',), ('staff',)]

In [20]:
task3_query = """SELECT CONCAT(c.FirstName, ' ', c.LastName) AS GuestFullName, c.ContactNumber, CAST(o.Cost AS FLOAT(2)) AS TotalCost
    FROM orders o INNER JOIN customers c ON o.CustomerID = c.CustomerID 
    WHERE o.Cost > 60;"""
cursor.execute(task3_query)

In [21]:
results = cursor.fetchall()
print(results)

[('Hiroki Yamane', '757536376', 500.0), ('Anna Iversen', '757536375', 750.0), ('Diana Pinto', '757536374', 400.0), ('Vanessa McCarthy', '757536378', 800.0)]